<!DOCTYPE html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>

        .center {
            text-align: center;

        }
        .big {
            font-size:  150px;
            text-align: center;
        }

    </style>

</head>
<body>

    <!-- <div><li><a href="/Schulnotenerfassung/{{f.f_id }}/">{{f.f_id }}</a></li></div>-->
    <div class="center">
        <h1><div class="big">Welcome to Mark.</div></h1>

    <h2>This is the Index.html</h2>
    <b>Select a File, moron.</b>
    </div>
</body>
</html>